.DS_Store
src/.DS_Store
env/*
.vscode/

src/*.pyc
src/__pycache__
src/private.py

data/*papers.csv
data/acm.csv
data/program-committee.txt
data/schedule.txt
data/welcome.txt
data/papers/*
data/files/*
data/locations/*
data/excel/*
data/doc/*
data/acm-papers/*
data/zip/*
